.List {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  width: 100%;
}

.Item {
  padding-bottom: 60px;
  text-align: center;
}

.Icon {
  font-size: 35px;
}

.Block {
  position: relative;
  height: 100%;
  background-color: #F9FAFB;
}

.title {

}
